---
http_interactions:
- request:
    method: post
    uri: https://sqs.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=system_name_production_product_updater_4_queue&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T151303Z
      X-Amz-Content-Sha256:
      - b59ddb9cc26816c4cbfd90e6a25a9c04bd3f8eb30e3e89d08c137f3dbf4c7d8e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - bd6a5a3f-89f5-5665-ac56-0fa53535c3fb
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.sa-east-1.amazonaws.com/381158256258/system_name_production_product_updater_4_queue</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>bd6a5a3f-89f5-5665-ac56-0fa53535c3fb</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Sat, 06 Jul 2019 15:13:04 GMT
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=system_name_production_product_adjuster_5_alert&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T151304Z
      X-Amz-Content-Sha256:
      - 2124212f32730892c8be9106cdaf70b98271be25a684962332ce5415b87077ec
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - d12f9e09-cca5-56ae-87da-cb9370645ea3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><ErrorResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><Error><Type>Sender</Type><Code>AWS.SimpleQueueService.NonExistentQueue</Code><Message>The
        specified queue does not exist for this wsdl version.</Message><Detail/></Error><RequestId>d12f9e09-cca5-56ae-87da-cb9370645ea3</RequestId></ErrorResponse>
  recorded_at: Sat, 06 Jul 2019 15:13:05 GMT
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&Attribute.1.Name=VisibilityTimeout&Attribute.1.Value=60&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=1209600&QueueName=system_name_production_product_adjuster_5_alert&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T151305Z
      X-Amz-Content-Sha256:
      - 9e8821481d600768b8d2f12d6dfb26b940b6e96574ba38822fe157e56bac993c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - df3f5f8d-eb0c-57a9-b345-0a1757cd0d2a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-1.amazonaws.com/381158256258/system_name_production_product_adjuster_5_alert</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>df3f5f8d-eb0c-57a9-b345-0a1757cd0d2a</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Sat, 06 Jul 2019 15:13:06 GMT
recorded_with: VCR 5.0.0
