---
http_interactions:
- request:
    method: post
    uri: https://sqs.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=system_name_production_product_updater_3_queue&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T145229Z
      X-Amz-Content-Sha256:
      - d25dda84aa3c30020ac1e659838e89d8c2227dc939f89deadeaf8002825542e5
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - '0058849c-ffc3-517c-99b0-d106482eaae7'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><ErrorResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><Error><Type>Sender</Type><Code>AWS.SimpleQueueService.NonExistentQueue</Code><Message>The
        specified queue does not exist for this wsdl version.</Message><Detail/></Error><RequestId>0058849c-ffc3-517c-99b0-d106482eaae7</RequestId></ErrorResponse>
  recorded_at: Sat, 06 Jul 2019 14:52:29 GMT
- request:
    method: post
    uri: https://sqs.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&Attribute.1.Name=VisibilityTimeout&Attribute.1.Value=60&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=1209600&QueueName=system_name_production_product_updater_3_queue&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T145229Z
      X-Amz-Content-Sha256:
      - bae33248abe38b953b4a7fa96510ff5ce3718b803c442b360da3709f2289e3bf
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 85a96a12-7594-595a-bbf9-3f88c2792e1f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.sa-east-1.amazonaws.com/381158256258/system_name_production_product_updater_3_queue</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>85a96a12-7594-595a-bbf9-3f88c2792e1f</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Sat, 06 Jul 2019 14:52:29 GMT
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTopicAttributes&TopicArn=arn%3Aaws%3Asns%3Asa-east-1%3A381158256258%3Aproduct&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T145229Z
      X-Amz-Content-Sha256:
      - a93396e5d0fb93d57561bcc7dd5d520d29c1b54090520efcf8732408880736df
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Amzn-Requestid:
      - 61ad94c2-82c4-5cf1-ac59-c1583529160e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>NotFound</Code>
            <Message>Topic does not exist</Message>
          </Error>
          <RequestId>61ad94c2-82c4-5cf1-ac59-c1583529160e</RequestId>
        </ErrorResponse>
  recorded_at: Sat, 06 Jul 2019 14:52:29 GMT
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=product&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T145229Z
      X-Amz-Content-Sha256:
      - e5ea34bbc88e4dceedb717cba0b3d718d129cb0ade1b468783078177c36f641b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 33b5cde1-2837-5d99-b0c4-987b9fda6284
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn>arn:aws:sns:sa-east-1:381158256258:product</TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>33b5cde1-2837-5d99-b0c4-987b9fda6284</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Sat, 06 Jul 2019 14:52:30 GMT
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Subscribe&Endpoint=arn%3Aaws%3Asqs%3Asa-east-1%3A381158256258%3Asystem_name_production_product_updater_3_queue&Protocol=sqs&TopicArn=arn%3Aaws%3Asns%3Asa-east-1%3A381158256258%3Aproduct&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T145230Z
      X-Amz-Content-Sha256:
      - fb52508c3813623a1e72f10d90b147e513ee4f9ee0e145f514211cf44ebd7953
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - a2d6a519-7f9d-5d8b-96db-f083c873048b
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
            <SubscriptionArn>arn:aws:sns:sa-east-1:381158256258:product:cb044a23-031c-4ffd-baee-64430a0c19cb</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
            <RequestId>a2d6a519-7f9d-5d8b-96db-f083c873048b</RequestId>
          </ResponseMetadata>
        </SubscribeResponse>
  recorded_at: Sat, 06 Jul 2019 14:52:30 GMT
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetSubscriptionAttributes&AttributeName=RawMessageDelivery&AttributeValue=true&SubscriptionArn=arn%3Aaws%3Asns%3Asa-east-1%3A381158256258%3Aproduct%3Acb044a23-031c-4ffd-baee-64430a0c19cb&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T145230Z
      X-Amz-Content-Sha256:
      - 7df62e907b78d676d60aafb8be616a65721bf365ec1e229a912b948ff9b52304
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1426ba2d-1df3-57cb-9d54-efb7aa1dd0ca
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SetSubscriptionAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>1426ba2d-1df3-57cb-9d54-efb7aa1dd0ca</RequestId>
          </ResponseMetadata>
        </SetSubscriptionAttributesResponse>
  recorded_at: Sat, 06 Jul 2019 14:52:30 GMT
- request:
    method: post
    uri: https://sqs.sa-east-1.amazonaws.com/381158256258/system_name_production_product_updater_3_queue
    body:
      encoding: UTF-8
      string: Action=SetQueueAttributes&Attribute.1.Name=Policy&Attribute.1.Value=%7B%22Version%22%3A%222012-10-17%22%2C%22Id%22%3A%22arn%3Aaws%3Asqs%3Asa-east-1%3A381158256258%3Asystem_name_production_product_updater_3_queue%2FSQSDefaultPolicy%22%2C%22Statement%22%3A%5B%7B%22Sid%22%3A%22subscription_in_product%22%2C%22Effect%22%3A%22Allow%22%2C%22Principal%22%3A%7B%22AWS%22%3A%22%2A%22%7D%2C%22Action%22%3A%22SQS%3ASendMessage%22%2C%22Resource%22%3A%5B%22arn%3Aaws%3Asqs%3Asa-east-1%3A381158256258%3Asystem_name_production_product_updater_3_queue%22%5D%2C%22Condition%22%3A%7B%22ArnLike%22%3A%7B%22aws%3ASourceArn%22%3A%5B%22arn%3Aaws%3Asns%3Asa-east-1%3A381158256258%3Aproduct%22%5D%7D%7D%7D%5D%7D&QueueUrl=https%3A%2F%2Fsqs.sa-east-1.amazonaws.com%2F381158256258%2Fsystem_name_production_product_updater_3_queue&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T145230Z
      X-Amz-Content-Sha256:
      - 4939e97e2b52b55408a00b32d1a9b6c5eec7588b7f10bd7b0aee619a1ba0495c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 72e09ca4-c060-55cc-80ed-c93e778eb876
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><SetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>72e09ca4-c060-55cc-80ed-c93e778eb876</RequestId></ResponseMetadata></SetQueueAttributesResponse>
  recorded_at: Sat, 06 Jul 2019 14:52:30 GMT
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=system_name_production_product_adjuster_3_alert&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T145230Z
      X-Amz-Content-Sha256:
      - 265fd2dbe83806d90d036ceda8afae11617c8edc3235dde0eb3b3ad4aecf25da
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 5219add7-c71f-58ea-8378-f84d70f0ae5b
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><ErrorResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><Error><Type>Sender</Type><Code>AWS.SimpleQueueService.NonExistentQueue</Code><Message>The
        specified queue does not exist for this wsdl version.</Message><Detail/></Error><RequestId>5219add7-c71f-58ea-8378-f84d70f0ae5b</RequestId></ErrorResponse>
  recorded_at: Sat, 06 Jul 2019 14:52:31 GMT
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&Attribute.1.Name=VisibilityTimeout&Attribute.1.Value=60&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=1209600&QueueName=system_name_production_product_adjuster_3_alert&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T145231Z
      X-Amz-Content-Sha256:
      - 30852c9bf451e58571dc324730345d96f78a5902837d8148df269baebf7ac819
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1f327270-e6fc-5954-b4e9-27ea5113e9cc
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-1.amazonaws.com/381158256258/system_name_production_product_adjuster_3_alert</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>1f327270-e6fc-5954-b4e9-27ea5113e9cc</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Sat, 06 Jul 2019 14:52:31 GMT
recorded_with: VCR 5.0.0
