---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=standard_queue&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190705T182706Z
      X-Amz-Content-Sha256:
      - dc795417fcdd41474ab8553974a6b7b268ce2c68388b871aa589e481364630cb
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0c47df6c-bcf0-5e34-b541-8af5244aa248
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.us-east-1.amazonaws.com/381158256258/standard_queue</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>0c47df6c-bcf0-5e34-b541-8af5244aa248</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Fri, 05 Jul 2019 18:27:06 GMT
recorded_with: VCR 5.0.0
