---
http_interactions:
- request:
    method: post
    uri: https://sqs.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&Attribute.1.Name=VisibilityTimeout&Attribute.1.Value=60&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=1209600&QueueName=system_name_production_product_updater_7_queue&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T152303Z
      X-Amz-Content-Sha256:
      - faf6b0d916bbaf794de597d1e6bccb4e93fa90d879b9e75f1e5569a3bbfb501b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2808f75b-615c-5e9c-8f94-a2c1de4b632a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.sa-east-1.amazonaws.com/381158256258/system_name_production_product_updater_7_queue</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>2808f75b-615c-5e9c-8f94-a2c1de4b632a</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Sat, 06 Jul 2019 15:23:03 GMT
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTopicAttributes&TopicArn=arn%3Aaws%3Asns%3Asa-east-1%3A381158256258%3Aproduct&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T152303Z
      X-Amz-Content-Sha256:
      - a93396e5d0fb93d57561bcc7dd5d520d29c1b54090520efcf8732408880736df
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b345dc62-502d-5569-9edf-89f8ef3a0d8b
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetTopicAttributesResult>
            <Attributes>
              <entry>
                <key>Policy</key>
                <value>{&quot;Version&quot;:&quot;2008-10-17&quot;,&quot;Id&quot;:&quot;__default_policy_ID&quot;,&quot;Statement&quot;:[{&quot;Sid&quot;:&quot;__default_statement_ID&quot;,&quot;Effect&quot;:&quot;Allow&quot;,&quot;Principal&quot;:{&quot;AWS&quot;:&quot;*&quot;},&quot;Action&quot;:[&quot;SNS:GetTopicAttributes&quot;,&quot;SNS:SetTopicAttributes&quot;,&quot;SNS:AddPermission&quot;,&quot;SNS:RemovePermission&quot;,&quot;SNS:DeleteTopic&quot;,&quot;SNS:Subscribe&quot;,&quot;SNS:ListSubscriptionsByTopic&q[...]
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Subscribe&Endpoint=arn%3Aaws%3Asqs%3Asa-east-1%3A381158256258%3Asystem_name_production_product_updater_7_queue&Protocol=sqs&TopicArn=arn%3Aaws%3Asns%3Asa-east-1%3A381158256258%3Aproduct&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T152304Z
      X-Amz-Content-Sha256:
      - 6a5f7fba36087c33034b07dbfad8d1d49db470749d3435eb32d2589254b62b96
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 8faa58f0-f56e-5888-ab8c-0d6a4a76f86e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
            <SubscriptionArn>arn:aws:sns:sa-east-1:381158256258:product:f5e507e0-f0d1-453b-b6a1-a13c90a1b202</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
            <RequestId>8faa58f0-f56e-5888-ab8c-0d6a4a76f86e</RequestId>
          </ResponseMetadata>
        </SubscribeResponse>
  recorded_at: Sat, 06 Jul 2019 15:23:04 GMT
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetSubscriptionAttributes&AttributeName=RawMessageDelivery&AttributeValue=true&SubscriptionArn=arn%3Aaws%3Asns%3Asa-east-1%3A381158256258%3Aproduct%3Af5e507e0-f0d1-453b-b6a1-a13c90a1b202&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T152304Z
      X-Amz-Content-Sha256:
      - 1a4a9bb0625d16dd35f0856c5f9e8711aaa2d8c58e74be0c1625206db7fa423e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9943cc2a-0919-5640-b920-99b0b6014ea2
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SetSubscriptionAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>9943cc2a-0919-5640-b920-99b0b6014ea2</RequestId>
          </ResponseMetadata>
        </SetSubscriptionAttributesResponse>
  recorded_at: Sat, 06 Jul 2019 15:23:04 GMT
- request:
    method: post
    uri: https://sqs.sa-east-1.amazonaws.com/381158256258/system_name_production_product_updater_7_queue
    body:
      encoding: UTF-8
      string: Action=SetQueueAttributes&Attribute.1.Name=Policy&Attribute.1.Value=%7B%22Version%22%3A%222012-10-17%22%2C%22Id%22%3A%22arn%3Aaws%3Asqs%3Asa-east-1%3A381158256258%3Asystem_name_production_product_updater_7_queue%2FSQSDefaultPolicy%22%2C%22Statement%22%3A%5B%7B%22Sid%22%3A%22subscription_in_product%22%2C%22Effect%22%3A%22Allow%22%2C%22Principal%22%3A%7B%22AWS%22%3A%22%2A%22%7D%2C%22Action%22%3A%22SQS%3ASendMessage%22%2C%22Resource%22%3A%5B%22arn%3Aaws%3Asqs%3Asa-east-1%3A381158256258%3Asystem_name_production_product_updater_7_queue%22%5D%2C%22Condition%22%3A%7B%22ArnLike%22%3A%7B%22aws%3ASourceArn%22%3A%5B%22arn%3Aaws%3Asns%3Asa-east-1%3A381158256258%3Aproduct%22%5D%7D%7D%7D%5D%7D&QueueUrl=https%3A%2F%2Fsqs.sa-east-1.amazonaws.com%2F381158256258%2Fsystem_name_production_product_updater_7_queue&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T152304Z
      X-Amz-Content-Sha256:
      - 4e3b6162d12d7082417c0f288a30b86f64807aac7d829c538e562da9b5a11603
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2cfb4f32-2ef4-5105-bda3-1aa891ec4cd3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><SetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>2cfb4f32-2ef4-5105-bda3-1aa891ec4cd3</RequestId></ResponseMetadata></SetQueueAttributesResponse>
  recorded_at: Sat, 06 Jul 2019 15:23:04 GMT
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&Attribute.1.Name=VisibilityTimeout&Attribute.1.Value=60&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=1209600&QueueName=system_name_production_product_adjuster_8_alert&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T152304Z
      X-Amz-Content-Sha256:
      - 8f14dee3f822e7fafa3da753f61a9272a216d7ce2904482451f23f7b05421e03
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 07a239f0-666c-5e86-947b-6c6ad9742a07
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-1.amazonaws.com/381158256258/system_name_production_product_adjuster_8_alert</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>07a239f0-666c-5e86-947b-6c6ad9742a07</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Sat, 06 Jul 2019 15:23:05 GMT
recorded_with: VCR 5.0.0
