---
http_interactions:
- request:
    method: post
    uri: https://sqs.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&Attribute.1.Name=VisibilityTimeout&Attribute.1.Value=60&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=1209600&QueueName=system_name_production_product_updater_9_queue&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T154812Z
      X-Amz-Content-Sha256:
      - ee84f59057c874253b2df75743ece324539d399c39ca2e3da2a6a779967ad719
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - bc1c16aa-9a82-598e-9fa6-43305e7ee8ac
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.sa-east-1.amazonaws.com/381158256258/system_name_production_product_updater_9_queue</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>bc1c16aa-9a82-598e-9fa6-43305e7ee8ac</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Sat, 06 Jul 2019 15:48:12 GMT
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetTopicAttributes&TopicArn=arn%3Aaws%3Asns%3Asa-east-1%3A381158256258%3Aproduct&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T154812Z
      X-Amz-Content-Sha256:
      - a93396e5d0fb93d57561bcc7dd5d520d29c1b54090520efcf8732408880736df
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - cdd425d1-3c9c-54c6-a6a2-704bf8607a01
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetTopicAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <GetTopicAttributesResult>
            <Attributes>
              <entry>
                <key>Policy</key>
                <value>{&quot;Version&quot;:&quot;2008-10-17&quot;,&quot;Id&quot;:&quot;__default_policy_ID&quot;,&quot;Statement&quot;:[{&quot;Sid&quot;:&quot;__default_statement_ID&quot;,&quot;Effect&quot;:&quot;Allow&quot;,&quot;Principal&quot;:{&quot;AWS&quot;:&quot;*&quot;},&quot;Action&quot;:[&quot;SNS:GetTopicAttributes&quot;,&quot;SNS:SetTopicAttributes&quot;,&quot;SNS:AddPermission&quot;,&quot;SNS:RemovePermission&quot;,&quot;SNS:DeleteTopic&quot;,&quot;SNS:Subscribe&quot;,&quot;SNS:ListSubscriptionsByTopic&q[...]
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Subscribe&Endpoint=arn%3Aaws%3Asqs%3Asa-east-1%3A381158256258%3Asystem_name_production_product_updater_9_queue&Protocol=sqs&TopicArn=arn%3Aaws%3Asns%3Asa-east-1%3A381158256258%3Aproduct&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T154812Z
      X-Amz-Content-Sha256:
      - 2459fe048a8bc360d44b791f054aaa8fb8d374bed9702ab55934c772be2e9a06
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 981f30f2-8fcf-5911-9fa3-65684b330df5
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
            <SubscriptionArn>arn:aws:sns:sa-east-1:381158256258:product:c5a8dffe-08d9-4e45-b9b1-bc2ad6958d3c</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
            <RequestId>981f30f2-8fcf-5911-9fa3-65684b330df5</RequestId>
          </ResponseMetadata>
        </SubscribeResponse>
  recorded_at: Sat, 06 Jul 2019 15:48:12 GMT
- request:
    method: post
    uri: https://sns.sa-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=SetSubscriptionAttributes&AttributeName=RawMessageDelivery&AttributeValue=true&SubscriptionArn=arn%3Aaws%3Asns%3Asa-east-1%3A381158256258%3Aproduct%3Ac5a8dffe-08d9-4e45-b9b1-bc2ad6958d3c&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T154812Z
      X-Amz-Content-Sha256:
      - 9a0c115473733d3ed64d113773966ab4f8e118caadb40b8a7ea636b4f1a0ff03
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d644c7b7-12c1-560e-b87b-922dd63d6646
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SetSubscriptionAttributesResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>d644c7b7-12c1-560e-b87b-922dd63d6646</RequestId>
          </ResponseMetadata>
        </SetSubscriptionAttributesResponse>
  recorded_at: Sat, 06 Jul 2019 15:48:12 GMT
- request:
    method: post
    uri: https://sqs.sa-east-1.amazonaws.com/381158256258/system_name_production_product_updater_9_queue
    body:
      encoding: UTF-8
      string: Action=SetQueueAttributes&Attribute.1.Name=Policy&Attribute.1.Value=%7B%22Version%22%3A%222012-10-17%22%2C%22Id%22%3A%22arn%3Aaws%3Asqs%3Asa-east-1%3A381158256258%3Asystem_name_production_product_updater_9_queue%2FSQSDefaultPolicy%22%2C%22Statement%22%3A%5B%7B%22Sid%22%3A%22subscription_in_product%22%2C%22Effect%22%3A%22Allow%22%2C%22Principal%22%3A%7B%22AWS%22%3A%22%2A%22%7D%2C%22Action%22%3A%22SQS%3ASendMessage%22%2C%22Resource%22%3A%5B%22arn%3Aaws%3Asqs%3Asa-east-1%3A381158256258%3Asystem_name_production_product_updater_9_queue%22%5D%2C%22Condition%22%3A%7B%22ArnLike%22%3A%7B%22aws%3ASourceArn%22%3A%5B%22arn%3Aaws%3Asns%3Asa-east-1%3A381158256258%3Aproduct%22%5D%7D%7D%7D%5D%7D&QueueUrl=https%3A%2F%2Fsqs.sa-east-1.amazonaws.com%2F381158256258%2Fsystem_name_production_product_updater_9_queue&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T154812Z
      X-Amz-Content-Sha256:
      - 2feed80916dcc9e1b59e767dd92e67f66ca02f9c3e0c088699bec4eb9ed48475
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 12667482-690a-5cf7-b3a2-2118adf61374
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><SetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>12667482-690a-5cf7-b3a2-2118adf61374</RequestId></ResponseMetadata></SetQueueAttributesResponse>
  recorded_at: Sat, 06 Jul 2019 15:48:12 GMT
- request:
    method: post
    uri: https://sqs.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&Attribute.1.Name=VisibilityTimeout&Attribute.1.Value=60&Attribute.2.Name=MessageRetentionPeriod&Attribute.2.Value=1209600&QueueName=system_name_production_product_adjuster_9_alert&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20190706T154812Z
      X-Amz-Content-Sha256:
      - 60e5145b6f65e8a958f9337a0ff9af4e7a3bf752997179690994b4fc08bf39d9
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - a8e7742e-403f-5ee3-bdf2-21b484c24310
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-1.amazonaws.com/381158256258/system_name_production_product_adjuster_9_alert</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>a8e7742e-403f-5ee3-bdf2-21b484c24310</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Sat, 06 Jul 2019 15:48:13 GMT
recorded_with: VCR 5.0.0
